@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono:ital,wght@0,400;1,400;1,600;1,700&display=swap");

html,
body {
  background: #f5f6fa;
  min-height: 100vh;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0;
  padding: 2rem 4em;
  font-size: 0.8rem;
}

section {
  padding: 2rem;
  flex: 1;
}

iframe {
  border-radius: 6px;
  width: 100%;
}

ol > li {
  padding-left: 0.4rem;
}

.tabs.is-boxed li.is-active a {
  background-color: #f5f6fa;
}

.tabs a {
  color: #7a7a7a;
}

.tabs.is-boxed a:hover {
  background-color: #dbdbdb50;
}

.content {
  line-height: 1.4;
  font-size: 0.9rem;
}

.preface {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.content-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logs::-webkit-scrollbar {
  background: transparent;
  height: 0.5rem;
  width: 0.5rem;
}

.logs::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 1px;
  overflow: hidden;
}
.logs::-webkit-scrollbar-track {
  overflow: hidden;
}

.logs {
  flex: 1 0 0;
  font-size: 0.7rem;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  line-height: 1.2;
  background: #292828;
  color: #f0f0f0;
  border-radius: 6px;
  overflow: scroll;
  padding: 0.75rem;
  margin: 0 2rem;
  min-height: 200px;
}

.logs > p {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 !important;
}

.logs::-webkit-scrollbar,
.logs::-webkit-scrollbar-thumb {
  display: none;
}

.logs .step {
  color: #ffd580;
}

.frame {
  flex: 1 0 100%;
  min-height: 200px;
  border: 2px solid white;
}

.frame-label {
  z-index: 50;
  position: absolute;
  font-size: 0.75rem;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Mono";
  color: rgba(84, 84, 84, 0.9);
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  margin: -1px 0 0 -1px;
  text-overflow: ellipsis;
  max-width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .preface {
    height: 75%;
    margin: 2rem 8rem 2rem 0;
    flex: 0;
    min-width: 35%;
    align-self: center;
  }
  .logs {
    margin: 0;
  }
  .frames {
    max-width: 75%;
    height: 95%;
    align-self: center;
  }
}

.has-new-version {
  animation: tada;
  animation-duration: 0.8s;
  animation-delay: 1s;
  z-index: 999;
}

.is-unavailable {
  z-index: 25;
  background-color: white;
  background-image: linear-gradient(
      45deg,
      rgba(248, 248, 248, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(248, 248, 248, 0.5) 75%,
      rgba(248, 248, 248, 0.5)
    ),
    linear-gradient(
      45deg,
      rgba(248, 248, 248, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(248, 248, 248, 0.5) 75%,
      rgba(248, 248, 248, 0.5)
    );
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
