@import url("https://fonts.googleapis.com/css2?family=Fugaz One&family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600&display=swap");

html,
body {
  background: #f5f6fa;
  min-height: 100vh;
  overflow: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

footer {
  flex: 0;
  padding: max(env(safe-area-inset-top), 2rem) max(env(safe-area-inset-left), 2rem)
    max(env(safe-area-inset-bottom), 2rem) max(env(safe-area-inset-right), 2rem);
  font-size: 0.8rem;
}

/* --------------------------------- Content -------------------------------- */

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 150px;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  max-width: 1200px;
}

.emoji {
  font-size: 0.8em;
  padding-right: 0.75rem;
}

.google-logo {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  padding: 0 0.25rem;
}
.google-logo svg {
  height: 100%;
}

.has-text-shadow {
  text-shadow: 1px 1px 3px rgb(50 50 50 / 20%);
}

.is-fancy {
  font-family: "Fugaz One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400 !important;
  font-size: 1.05em;
  padding: 0 2px;
}

/* Tooltips ----------------------------------------------------------------- */

.tooltips {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 900;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  white-space: break-spaces;
  transition: opacity 0.2s ease-in;
  transform: translateY(calc(-100% - 0.1rem));
  opacity: 0;
}
.is-active .tooltips,
.is-fullscreen .tooltips {
  opacity: 1;
}
.is-fullscreen .tooltips {
  margin-bottom: -3rem;
}
.demo-container:hover .tooltips {
  opacity: 1;
}

.is-tooltip {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0.25em;
  cursor: pointer;
  width: fit-content;
  max-width: min(90%, 500px);
  padding: 0.75em 1.2em;
  color: #f5f6fa;
  background: #363636;
  border-radius: 6px;
  box-shadow: 0 1px 2px -1px currentColor, 0 0 5px -3px currentColor;
}

.is-tooltip strong {
  color: currentColor;
}

.is-tooltip:last-child:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  bottom: -0.5em;
  margin: 0 auto;
  position: absolute;
  height: 1.1em;
  width: 1.1em;
  background: inherit;
  transform: rotate(45deg);
  z-index: 1;
  box-shadow: 1px 1px 1px -1px;
}
.is-tooltip:before {
  content: "";
  line-height: 1;
  margin-right: 1em;
  flex: 1;
  font-size: 1.4em;
}

.is-tooltip p:not(:last-child) {
  margin-bottom: 0.3rem;
}

/* Special thanks to my wife for her careful consideration for what
emojis to use */

.is-tooltip.has-background-danger-light:before {
  content: "🦑";
}
.is-tooltip.has-background-warning-light:before {
  content: "🐡";
}
.is-tooltip.has-background-success-light:before {
  content: "🐢";
}
.is-tooltip.has-background-info-light:before {
  content: "🐳";
}
.is-tooltip.has-background-primary-light:before {
  content: "🐠";
}
.is-tooltip.has-background-link-light:before {
  content: "🐬";
}

/* -------------------------------- Timeline -------------------------------- */

.timeline-container {
  margin: auto;
  width: 10rem;
  height: 80%;
  display: flex;
  /* z-index: 1; */
}

svg.timeline {
  overflow: visible;
  margin: 0 auto;
}

/* Axis */
.axis > line {
  stroke-width: 2;
  stroke: #d6d5da;
}

.axis > circle.edge {
  fill: #f5f6fa;
  stroke: #d6d5da;
  stroke-width: 1;
}

.mask {
  fill: #f5f6fa;
}

/* Ticks  */

.countdown > text.clock,
.ticks > text.major {
  font-size: 0.75rem;
  fill: #5c5c5c;
  letter-spacing: 1px;
  word-spacing: -0.4rem;
  font-family: "Roboto Mono";
  line-height: 0;
}

.ticks > .minor {
  fill: #b3b1bd;
  stroke: #f5f6fa;
  stroke-width: 1;
}
.tick {
  transition: all 1s ease-in;
}

/* Links */

.links > .link {
  stroke-width: 2;
  opacity: 0.5;
  fill: none;
}

/* Countdown  */
.countdown,
.is-counting .tick[data-value="0"] {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.is-counting .countdown {
  opacity: 1;
}

.countdown > text.clock {
  font-size: 1rem;
  font-weight: 600;
}

.mask > rect.major.active,
.countdown > circle.leader,
.countdown > line.leader,
.is-counting .axis > circle.origin {
  fill: #2c2928;
  stroke: #2c2928;
}

.is-counting .ticks > circle.minor.active {
  fill: #f5f6fa;
  stroke: #2c2928;
  stroke-width: 2;
}
.countdown > circle.leader,
.countdown > line.leader {
  stroke-width: 3;
}
.is-counting .ticks > text.active {
  fill: #f5f6fa;
}

/* --------------------------------- IFrames -------------------------------- */

.iframe-container {
  width: 100%;
}

iframe.app-frame {
  flex: 1;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.frame-label {
  z-index: 50;
  position: absolute;
  font-size: 0.75rem;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Mono";
  color: rgba(84, 84, 84, 0.9);
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  margin: -1px 0 0 -1px;
  text-overflow: ellipsis;
  max-width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
}

.has-new-version {
  animation: tada;
  animation-duration: 0.8s;
  z-index: 500;
}

.mask {
  z-index: 100;
  font-size: 1rem;
  text-align: center;
  padding: 3rem;
  border: 1px solid rgb(0 0 0 / 15%);
  border-radius: 6px;
  background-color: #ececec;
  background-image: linear-gradient(
      45deg,
      rgba(248, 248, 248, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(248, 248, 248, 0.5) 75%,
      rgba(248, 248, 248, 0.5)
    ),
    linear-gradient(
      45deg,
      rgba(248, 248, 248, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(248, 248, 248, 0.5) 75%,
      rgba(248, 248, 248, 0.5)
    );
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

/* ------------------------------- App Builder ------------------------------ */

.demo-container {
  background: none;
  /* order: -1; */
  cursor: zoom-in;
  transition: opacity 0.2s ease-in, filter 0.2s ease-in;
}

.demo-container.is-fullscreen {
  cursor: zoom-out;
}

.demo-container .box {
  transition: transform 0.2s ease;
  overflow: hidden;
}

.demo-container.is-fullscreen .box {
  transition-duration: 0s;
}

.demo-container.is-active:not(.is-fullscreen) .box:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .demo-container .box {
    min-height: 300px;
  }
}

/* Fullscreen --------------------------------------------------------------- */

.is-fullscreen {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin: 10% 1%;
  z-index: 999;
}

.is-fullscreen:after {
  content: "";
  z-index: -1;
  background: rgb(245 246 250 / 75%);
}

.is-fullscreen,
.is-fullscreen:after {
  height: auto !important;
  width: auto !important;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.is-fullscreen .is-hidden-tablet {
  display: none;
}

/* Build Form --------------------------------------------------------------- */

.demo-interface {
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: color 2s ease-in;
  z-index: 1;
}

.demo-interface .button {
  background: rgb(245 245 245 / 90%) !important;
  box-shadow: 0 1px 2px -1px currentColor, 0 0 5px -3px currentColor;
  font-size: 0.8rem;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  z-index: 100;
}

.demo-interface .button:hover {
  opacity: 0.8;
}

.deploy.button {
  font-size: 0.8rem;
  width: max-content;
  margin: auto;
  margin-bottom: 0;
}

.demo-interface .button svg {
  fill: currentColor;
}

.is-fullscreen .demo-interface {
  padding: 2em;
  font-size: 2rem;
}

.is-fullscreen .deploy.button {
  font-size: 1rem;
}

/* previous/next theme navigation */

.demo-interface nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.demo-interface nav .button {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  padding: 2px;
}

.is-fullscreen .demo-interface nav {
  padding: 1em;
  font-size: 1.25rem;
}

/* Media queries */

@media (min-width: 1024px) {
  .demo-container.is-fullscreen {
    font-size: 1.2rem;
  }
  .is-fullscreen .logs > p .lg-id {
    display: inline-flex;
    min-width: 120px;
  }
}

@media (min-width: 768px) {
  .iframe-container {
    --columnGap: 5rem !important;
  }
  .demo-container:not(.is-active):not(.is-loading):not(.is-fullscreen) {
    opacity: 0.25;
    filter: grayscale(1);
  }
  .demo-container:not(.is-active):not(.is-loading):hover:not(.is-fullscreen) {
    opacity: 1;
    filter: none;
  }
}

/* Preview Container -------------------------------------------------------- */

.preview-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 2.5rem;
}

.preview-frame .title {
  color: white;
  text-shadow: 1px 1px 1px rgb(50 50 50 / 30%);
  font-size: 1.75em;
}

/* ---------------------------------- Logs ---------------------------------- */

.logs {
  font-size: 0.6em;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  color: #f0f0f0;
  border-radius: 6px;
  overflow: scroll;
  padding: 0.75rem;
  transition: opacity 2s ease-in;
  background: #292828;
  background: linear-gradient(70deg, #112023, #2c3346) 0% 0% / 150% 150%;
  z-index: 1;
}
.logs .frame-label {
  background: #3d3d3d;
  color: #eeeeee;
}

.content::-webkit-scrollbar,
.content::-webkit-scrollbar-thumb,
.logs::-webkit-scrollbar,
.logs::-webkit-scrollbar-thumb {
  display: none;
}

.logs > p {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  margin: 0 !important;
}
.logs > p,
.logs p > span {
  letter-spacing: -0.01rem;
  white-space: pre;
}

.logs p > .lg-text {
  filter: brightness(1.5) saturate(0.5);
}

.logs > p[data-type="divider"],
.logs > p[data-type="header"] {
  padding: 0.75rem 0 0.5rem;
  font-weight: 600;
  font-style: italic;
}

.logs > p[data-type="finished"] .lg-text,
.logs > p[data-type="starting"] .lg-text {
  font-weight: 600;
  font-style: italic;
  filter: none;
}
.logs > p[data-type="finished"] .lg-text::before {
  content: "✨  ";
}
.logs > p[data-type="starting"] .lg-text::before {
  content: "🏁  ";
}

.logs > p .lg-id {
  display: none;
  min-width: 95px;
  align-items: center;
  margin-right: 5px;
}
.logs > p:not([data-type="linebreak"]) .lg-id:after {
  content: "➤";
  flex: 1 0 auto;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    currentcolor 75%,
    currentcolor calc(100% - 5px),
    rgba(0, 0, 0, 0) calc(100% - 5px)
  );
  height: 1px;
  line-height: 0;
  text-align: right;
  font-size: 0.5rem;
  filter: brightness(1) saturate(0.5);
}
.logs > p .lg-step {
  display: inline-block;
}
.logs > p .lg-step:after {
  content: "";
  margin-right: 5px;
}
.is-fullscreen .logs > p .lg-id {
  display: inline-flex;
  min-width: 100px;
}
.is-fullscreen .logs > p .lg-id:after {
  padding-top: 0;
  margin-right: 3px;
  padding-left: 10px;
  font-size: 0.8rem;
  height: 2px;
}

.logs > p[data-id="app-engine-flex"] {
  color: #ffa96f;
}
.logs > p[data-id="app-engine-std"] {
  color: #ae9fe2;
}
.logs > p[data-id="function"] {
  color: #ffe180;
}
.logs > p[data-id="cloud-run-gke"] {
  color: #ff657a;
}
.logs > p[data-id="cloud-run"] {
  color: #6dde9d;
}
.logs > p[data-id="compute-engine"] {
  color: #a4f0f3;
}
.logs > p[data-id="docker-pull"],
.logs > p[data-id="docker-push"],
.logs > p[data-id="docker-build"] {
  color: #73d0ff;
}
.logs > p[data-id="kubernetes"] {
  color: #da8de4;
}
.logs > p[data-id="python-setup"],
.logs > p[data-id="housekeeping"] {
  color: #83d1be;
}

.logs::-webkit-scrollbar {
  background: transparent;
  height: 0.5rem;
  width: 0.5rem;
}
.logs::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 1px;
  overflow: hidden;
}
.logs::-webkit-scrollbar-track {
  overflow: hidden;
}

/* -------------------------------- Animation ------------------------------- */

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
