@import url("https://fonts.googleapis.com/css2?family=Fugaz One&family=Inter:wght@400;500;600&family=Roboto+Mono:ital,wght@0,400;1,400;1,600;1,700&display=swap");

html,
body {
  background: #f5f6fa;
  min-height: 100vh;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
}

footer {
  flex: 0;
  padding: 2rem 4em;
  font-size: 0.8rem;
}

/* --------------------------------- Content -------------------------------- */

.tabs {
  font-size: 0.8rem;
}

.content {
  line-height: 1.4;
  font-size: 0.9rem;
}

.box {
  height: 100%;
}

.container {
  width: 100%;
}

.container > .columns {
  flex: 1;
}

.content-container {
  min-width: 400px;
}

ol > li {
  padding-left: 0.4rem;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* -------------------------------- Timeline -------------------------------- */

svg.timeline {
  overflow: visible;
  margin: 0 auto;
  padding-left: 20px;
}
.axis line {
  stroke-width: 2px;
  stroke: #dbdbdb;
}
.axis circle {
  fill: #dbdbdb;
}
.axis text {
  font-size: 0.5rem;
  fill: #b1b1b1;
  letter-spacing: 1px;
}
text.label {
  font-size: 1.2rem;
  font-weight: 500;
}
rect.label {
  fill-opacity: 0;
  /* filter: url(#shadow); */
}
path.label {
  stroke-width: 2;
  opacity: 0.6;
  fill: none;
}

/* --------------------------------- IFrames -------------------------------- */

iframe {
  border-radius: 6px;
  width: auto;
  height: auto;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.frame-label {
  z-index: 50;
  position: absolute;
  font-size: max(0.4rem, 75%);
  padding: 2px 10px;
  background: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Mono";
  color: rgba(84, 84, 84, 0.9);
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  margin: -1px 0 0 -1px;
  text-overflow: ellipsis;
  max-width: 95%;
  overflow-x: hidden;
  white-space: nowrap;
}

.has-new-version {
  animation: tada;
  animation-duration: 0.8s;
  animation-delay: 1s;
  z-index: 999;
}

.is-unavailable {
  z-index: 25;
  background-color: #292828;
  background-image: linear-gradient(
      45deg,
      rgba(248, 248, 248, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(248, 248, 248, 0.5) 75%,
      rgba(248, 248, 248, 0.5)
    ),
    linear-gradient(
      45deg,
      rgba(248, 248, 248, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(248, 248, 248, 0.5) 75%,
      rgba(248, 248, 248, 0.5)
    );
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

/* ------------------------------- App Builder ------------------------------ */

.build-container {
  background: none;
}

.build-container.is-fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  margin: 2rem;
  z-index: 100;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.build-container.is-fullscreen:after {
  content: "";
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  background: rgba(255, 255, 255, 0.5);
}

.build-container.is-active .build-form,
.build-container:not(.is-active) .logs {
  opacity: 0;
  z-index: -1;
}
.build-form {
  z-index: 10;
  height: 100%;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: opacity 2s ease-in;
}
.build-form .button {
  font-weight: 400;
  font-family: "Fugaz One", sans-serif;
  border-radius: 6px;
  opacity: 0.1;
  box-shadow: 2px 2px 10px 2px rgba(80, 80, 80, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  background: #8b8b8b;
}
.build-form .button:hover,
.button.is-loading {
  background: #3850cacf;
  opacity: 1;
}
.button.is-loading svg.icon,
.build-container.is-active .button svg.icon {
  display: none;
}

/* ---------------------------------- Logs ---------------------------------- */

.logs {
  font-size: 0.6rem;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  color: #f0f0f0;
  border-radius: 6px;
  overflow: scroll;
  padding: 0.75rem;
  border: 0;
  z-index: 0;
  transition: opacity 2s ease-in;
  background: #292828;
  cursor: zoom-in;
  background: linear-gradient(70deg, #112023, #2c3346) 0% 0% / 150% 150%;
  -webkit-animation: 10s ease 0s infinite normal none running gradient-slider;
  animation: 10s ease 0s infinite normal none running gradient-slider;
}
.is-fullscreen .logs {
  cursor: zoom-out;
  z-index: 75;
  font-size: 0.9rem;
}
.logs .frame-label {
  background: #3d3d3d;
  color: #eeeeee;
}

.logs::-webkit-scrollbar,
.logs::-webkit-scrollbar-thumb {
  display: none;
}

.logs > p {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  margin: 0 !important;
  opacity: 0.95;
  letter-spacing: -0.01rem;
}

.logs > p[data-status="fetchsource"],
.logs > p[data-status="build"],
.logs > p[data-status="push"],
.logs > p[data-status="done"] {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}

.logs > p.lg-header {
  white-space: pre;
  font-size: 0.5rem;
}

.logs > p .lg-text {
  margin-left: 0.25rem;
  white-space: pre;
}

.logs > p[data-status="finished"] .lg-text::after {
  content: " ✅";
}
.logs > p[data-status="starting"] .lg-text::after {
  content: " ✨";
}

.is-fullscreen .logs p:not([data-id=""]) .lg-step:not([data-step=""])::before {
  display: inline-block;
  content: "Step #" attr(data-step) " - ";
  margin-right: 10px;
}
.is-fullscreen .logs p:not([data-id=""]) .lg-step:not([data-step=""]) {
  display: inline-flex;
  min-width: 230px;
  overflow: hidden;
}
.is-fullscreen .logs p:not([data-id=""]) .lg-step:not([data-step=""]):after {
  content: "";
  flex: 1 0 auto;
  display: inline-block;
  border-bottom: 2px dotted;
  margin: 0 8px 4px;
  opacity: 0.5;
}
.logs > p[data-id="gae-flexible"] .lg-step {
  color: #f28779;
}
.logs > p[data-id="gae-standard"] .lg-step {
  color: #73d0ff;
}
.logs > p[data-id="function"] .lg-step {
  color: #ffd580;
}
.logs > p[data-id="run-anthos"] .lg-step {
  color: #ff657a;
}
.logs > p[data-id="run-managed"] .lg-step {
  color: #6dde9d;
}
.logs > p[data-id="gce"] .lg-step {
  color: #ee9471;
}
.logs > p[data-id="docker-build"] .lg-step {
  color: #3e91df;
}
.logs > p[data-id="docker-pull"] .lg-step {
  color: #3e91df;
}
.logs > p[data-id="docker-push"] .lg-step {
  color: #3e91df;
}
.logs > p[data-id="gke"] .lg-step {
  color: #da8de4;
}
.logs > p[data-id="requirements-txt"] .lg-step {
  color: #83d1be;
}
.logs::-webkit-scrollbar {
  background: transparent;
  height: 0.5rem;
  width: 0.5rem;
}

.logs::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 1px;
  overflow: hidden;
}
.logs::-webkit-scrollbar-track {
  overflow: hidden;
}

/* -------------------------------- Animation ------------------------------- */

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.animate__tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes gradient-slider {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-slider {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
