{% with %} {% if not debug %} {% set asset_suffix = "?ts=" + unix_timestamp|string %} {%
endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>7Apps — Google Cloud</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link href="/static/index.css{{ asset_suffix }}" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </head>

  <body>
    <section class="container is-flex">
      <div class="columns is-desktop is-centered">
        <div
          x-data="{ tab: 'timeline' }"
          class="content-container column is-narrow is-relative"
        >
          <div class="content">
            <p class="title is-4">7-Apps in 7-minutes</p>
            <p class="subtitle is-6">
              One codebase. Seven services.
            </p>
          </div>
          <nav class="mb-5">
            <div class="tabs">
              <ul>
                <li :class="{ 'is-active': tab === 'overview' }">
                  <a @click="tab = 'overview'">
                    <span>Overview</span>
                  </a>
                </li>
                <li :class="{ 'is-active': tab === 'timeline' }">
                  <a @click="tab = 'timeline'">
                    <span>Timeline</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div>
            <div x-show="tab === 'overview'">
              {% include "content/overview.html" %}
            </div>
            <div x-show="tab === 'timeline'">
              {% include "content/timeline.html" %}
            </div>
          </div>
        </div>
        <div class="iframe-container column columns is-multiline">
          {% include "content/iframes.html" %}
        </div>
      </div>
    </section>
    <footer>
      <div class="content has-text-centered has-text-grey">
        <p>
          Source on
          <a href="https://github.com/servian/7apps7minutes" target="_blank">GitHub</a>.
          Licensed
          <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>
        </p>
      </div>
    </footer>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/labella/1.1.4/labella.min.js"
    integrity="sha512-CvciuHWpGI0ygZhWN/t/zqiiDI26Zclrsqcd77VDLYN5MyfyyPvy18eFwWZZUdUgofBi/vbOKUAqPRIJ7GyO0g=="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
    integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script src="/static/utils.js{{ asset_suffix }}"></script>
  <script src="/static/timeline.js{{ asset_suffix }}"></script>
  <script>
    /* eslint-disable no-undef */
    function appBuilder() {
      return {
        buildId: null,
        themeOpt: 0,
        gradients: {{ app_service.gradients|tojson }},
        googleFonts: {{ app_service.google_fonts|tojson }},
        asciiFonts: {{ app_service.ascii_fonts|tojson }},
        buildActive: {{ app_service.build.has_active_builds()|tojson }},
        isLoading: false,
        isFullscreen: false,
        tooltips: [],
        init() {
          WebFont.load({ google: { families: this.googleFonts } });
          if (!this.buildActive) {
            this.showTooltip({ text: "Choose a theme and <span class='has-text-fancy-font'>Deploy!</span>", style: "info"});
          } else {
            this.showTooltip({ text: "Cloud Build deployment in progress", style: "warning", timeout: 5000 });
          }
          _.notificationService.addSubscription("refresh-app", (message) => {
            let app = message.data.app;
            this.showTooltip({ text: `<strong>${app.title}</strong> has finished updating!`, style: "success", timeout: 5000 });
          });
          _.notificationService.addSubscription("build", (message) => {
            let status = message.data.status;
            if (status === "finished") {
              this.showTooltip({ text: `That's a wrap! All services are running the latest version 😅`, style: "success", timeout: 30000 });
              setTimeout(() => this.buildActive = false, 120000);
            }
          });
        },
        closeTooltip(tip){
          if (tip) {
            let idx = this.tooltips.indexOf(tip);
            this.tooltips.splice(idx, 1);
          } else {
            this.tooltips.pop();
          }
        },
        showTooltip({ text, style, timeout }) {
          if (this.tooltips.length >= 3) {
            this.closeTooltip();
          }
          let tip = { text, style, timeout };
          this.tooltips.unshift(tip)
          if (timeout > 0) {
            setTimeout(() => this.closeTooltip(tip), timeout)
          };
        },
        tooltipClass(tip) {
          let styles = {};
          let styleOpts = ["primary", "link", "success", "info", "warning", "danger"];
          styleOpts.forEach((t) => {
            styles[`has-background-${t}-light`] = t === tip.style;
            styles[`has-text-${t}-dark`] = t === tip.style;
          })
          return styles;
        },
        toggleFullscreen() {
          this.isFullscreen = !this.isFullscreen;
        },
        selectTheme(i) {
          let optsLength = this.googleFonts.length - 1;
          if (i > optsLength) {
            this.themeOpt = 0;
          } else if (i < 0) {
            this.themeOpt = optsLength;
          } else {
            this.themeOpt = i;
          }
        },
        previewUrl() {
          let font = encodeURIComponent(this.googleFonts[this.themeOpt]);
          let asciiFont = encodeURIComponent(this.asciiFonts[this.themeOpt]);
          let gradient = encodeURIComponent(this.gradients[this.themeOpt]);
          return `https://function.7apps.cloud/?font=${font}&ascii_font=${asciiFont}&gradient=${gradient}`;
        },
        async deploy() {
          setTimeout(() => this.closeTooltip(), 1000);
          this.isLoading = true;
          _.logHandler.flushLogs();
          try {
            console.debug(`🏗️ Starting Cloud Build deployment`);
            let resp = await _.appService.deployUpdate({
              gradient: this.gradients[this.themeOpt],
              asciiFont: this.asciiFonts[this.themeOpt],
              font: this.googleFonts[this.themeOpt],
            });
            let data = await resp.json();
            if (!resp.ok) throw data;
            this.buildId = data.id;
            this.buildActive = true;
            console.info(`👷 Cloud Build job started (${this.buildId})`);
            this.showTooltip({ text: `Cloud Build deployment job started`, style: "info", timeout: 5000 });
            this.startCommentary();
          } catch (e) {
            this.showTooltip({ text: e.detail, style: "danger" });
          } finally {
            this.isLoading = false;
          }
        },
        startCommentary() {
          let timer = 10000;
          let timeout = 15000;
          let messages = [
            { text: "The logs below are streaming <em>live</em> from Cloud Build", style: "primary" },
            { text: "Cloud Build first builds a Docker image for our app, most services are dependent on this step" },
            { text: "<strong>Cloud Functions</strong> and <strong>App Engine: Standard</strong> are the only two services that don't use containers" },
            { text: "Each service uses a slightly different method for deploying/updating apps, in most cases a single CLI command is all that's needed" },
            { text: "<strong>Compute Engine</strong> is probably the trickiest - it uses a custom webhook that Cloud Build connects to via a <a href='https://cloud.google.com/iap/docs/using-tcp-forwarding'>Identity-Aware Proxy</a> TCP tunnel", style: "info" },
            { text: "Everything is setup/documented using <strong>Terraform</strong>. Just as well too, otherwise I'm sure I'd forget all the steps it took to get Anthos working" },
            { text: "<a href='https://github.com/servian/7apps-google-cloud'>If you're interested, the source code for everything is on GitHub</a>", style: "link" },
            { text: "Also yes, I spent a ridiculous amount of time messing around with fonts, colours and emojis for this...", style: "warning" },
            { text: "Just waiting on <strong>App Engine: Flexible</strong> now" },
            { text: "<strong>App Engine: Flexible</strong> always takes this long, we just have to patient", style: "warning" },
            { text: "<strong>App Engine: Flexible</strong>... more like <strong>App Engine: <em>Fle-Zzzzz-ible</em></strong>", style: "danger" },
            { text: "Not long now... See you at the finish line", style: "primary", timeout: timeout * 2 },
          ]
          messages.forEach((message) => {
            setTimeout(() => this.showTooltip({timeout, style: "info", ...message}), timer);
            timer += timeout + (timeout / 4);
          });        }
      };
    }

    // Add callback to update timeline during app deployments
    _.appService.addSubscription(({ app, duration }) => {
      console.log(`📈 Adding ${app.name} to timeline`);
      _.timeline.push({
        id: app.name,
        label: app.title,
        theme: app.theme,
        value: duration,
      });
    });
  </script>
</html>
{% endwith %}
