{% with %} {% if not debug %} {% set asset_suffix = "?ts=" + unix_timestamp|string %} {%
endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>7Apps — Google Cloud</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link href="/static/index.css{{ asset_suffix }}" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </head>

  <body>
    <section class="container is-flex">
      <div class="columns is-desktop is-centered">
        <div
          x-data="{ tab: 'timeline' }"
          class="content-container column is-narrow is-relative"
        >
          <div class="content">
            <p class="title is-4">7-Apps in 7-minutes</p>
            <p class="subtitle is-6">
              One cloud. One codebase. Seven apps.
            </p>
          </div>
          <nav class="mb-5">
            <div class="tabs">
              <ul>
                <li :class="{ 'is-active': tab === 'overview' }">
                  <a @click="tab = 'overview'">
                    <span>Overview</span>
                  </a>
                </li>
                <li :class="{ 'is-active': tab === 'timeline' }">
                  <a @click="tab = 'timeline'">
                    <span>Timeline</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div>
            <div x-show="tab === 'overview'">
              {% include "content/overview.html" %}
            </div>
            <div x-show="tab === 'timeline'">
              {% include "content/timeline.html" %}
            </div>
          </div>
        </div>
        <div class="iframe-container column columns is-multiline">
          {% include "content/iframes.html" %}
        </div>
      </div>
    </section>
    <footer>
      <div class="content has-text-centered has-text-grey">
        <p>
          Source on
          <a href="https://github.com/servian/7apps7minutes" target="_blank">GitHub</a>.
          Licensed
          <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>
        </p>
      </div>
    </footer>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/labella/1.1.4/labella.min.js"
    integrity="sha512-CvciuHWpGI0ygZhWN/t/zqiiDI26Zclrsqcd77VDLYN5MyfyyPvy18eFwWZZUdUgofBi/vbOKUAqPRIJ7GyO0g=="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
    integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script src="/static/utils.js{{ asset_suffix }}"></script>
  <script src="/static/timeline.js{{ asset_suffix }}"></script>
  <script>
    /* eslint-disable no-undef */

    class Tooltip {
      constructor() {
        this._tooltips = [];
        this.styles = ["primary", "link", "success", "info", "warning", "danger"];
      }

      get tooltips() {
        return this._tooltips;
      }

      add({ text, style = "info", wait = 0, timeout = 10000 } = {}) {
        let id = +new Date();
        let tooltip = { id, text, style, wait, timeout, active: true };
        setTimeout(() => this._tooltips.push(tooltip), wait);
        if (timeout > 0) {
          setTimeout(() => this.close(tooltip), (timeout + wait));
        }
        return id;
      }

      queue({ messages = [], timeout = 8000, wait = 1000, style = "info" } = {}) {
        var timer = timeout + wait
        messages.forEach((msg, index) => {
          let tooltip = typeof msg === "string" ? { text: msg } : msg;
          setTimeout(() => this.add({ style, timeout, ...tooltip }), (timer * index));
        });
      }

      close(tooltip) {
        let index = this._tooltips.indexOf(tooltip);
        tooltip.active = false;
        setTimeout(() => this._tooltips.splice(index, 1), 300);
      }

      reset() {
        this._tooltips.forEach((tooltip) => {
          if (tooltip.active) {
            this.close(tooltip);
          }
        });
      }

      getClass(tooltip) {
        let cls = {};
        cls[`has-background-${tooltip.style}-light`] = true;
        cls[`has-text-${tooltip.style}-dark`] = true;
        return cls;
      }
    }

    class AppBuilder {
      constructor({ tooltip, apps, gradients, fonts, asciiFonts, buildStatus }) {
        console.debug("🧰 Initialising AppBuilder");
        Object.assign(this, { apps, gradients, fonts, asciiFonts, buildStatus });
        WebFont.load({ google: { families: this.fonts } });
        this.buildTracker = new Map();
        this.themeOpt = 0;
        this.isLoading = false;
        this.activeBuild = null;
      }

      get previewUrl() {
        let font = encodeURIComponent(this.fonts[this.themeOpt]);
        let asciiFont = encodeURIComponent(this.asciiFonts[this.themeOpt]);
        let gradient = encodeURIComponent(this.gradients[this.themeOpt]);
        return `https://function.7apps.cloud/?font=${font}&ascii_font=${asciiFont}&gradient=${gradient}`;
      }

      get buildCommentary() {
        return [
          "We're just waiting on <strong>App Engine: Flexible</strong> now",
          "Since we have some time on our hands, let me explain a bit about what's happening / has happened",
          "Cloud Build first builds a Docker image for our app, most services depend on this image for their deployment",
          "<strong>Cloud Functions</strong> and <strong>App Engine: Standard</strong> are the only two services that don't use containers",
          "Each service uses a slightly different method for deploying/updating apps, in most cases a single CLI command is all that's needed",
          "<strong>Compute Engine</strong> is probably the trickiest - it uses a custom webhook that Cloud Build connects to via a <a href='https://cloud.google.com/iap/docs/using-tcp-forwarding'>Identity-Aware Proxy</a> TCP tunnel",
          "Everything is setup/documented using <strong>Terraform</strong>. Just as well too, otherwise I'm sure I'd forget all the steps it took to get Anthos working",
          "<a href='https://github.com/servian/7apps-google-cloud'>If you're interested, the source code for everything is on GitHub</a>",
          "<strong>App Engine: Flexible</strong> always takes this long, we just have to patient",
          "<strong>App Engine: Flexible</strong>... more like <strong>App Engine: <em>Fle-Zzzzz-ible</em></strong> 💤",
          "Not long now... See you at the finish line",
        ];
      }

      init(dependencies) {
        Object.assign(this, dependencies);
        this.addAppSubscription();
        this.addBuildSubscription();
        this.addTimelineSubscription();
        this.tooltip.add({
          text:
            "Pick a theme, click <span class='has-text-fancy-font'>Deploy!</span>, then sit back and enjoy the show",
          timeout: 0,
        });
      }

      addAppSubscription() {
        console.log("🗞️ Subscribing to app events");
        _.notificationService.addSubscription("refresh-app", (message) => {
          let app = message.data.app;
          let build = message.data.build;
          let appList = this.buildTracker.get(build.id) || [];
          if (appList) {
            appList.splice(appList.indexOf(app.name), 1);
          }
          console.log(`🕹️ ${app.title} has been updated to version ${app.version}`);
          this.tooltip.add({
            text: `<strong>${app.title}</strong> has been updated to version <span class="is-family-monospace">${app.version}</span>`,
            style: "success",
            timeout: 5000,
          });
          if (appList.length == 1 && appList.includes("flex")) {
            setTimeout(() => this.tooltip.queue({ messages: this.buildCommentary }), 2500);
          }
        });
      }

      addBuildSubscription() {
        console.log("🗞️ Subscribing to build events");
        _.notificationService.addSubscription("build", (message) => {
          let status = message.data.status;
          if (status === "started") {
          } else if (status === "finished") {
            this.tooltip.add({
              text: `All seven services have been updated updated. That's a wrap!`,
              style: "success",
            });
            setTimeout(() => {
              this.activeBuild = null;
              this.tooltip.reset();
            }, 20000);
          }
        });
      }

      addTimelineSubscription() {
        console.log("🗞️ Subscribing to app updates");
        // Add callback to update timeline during app deployments
        _.appService.addSubscription(({ app, duration }) => {
          console.log(`📈 Adding ${app.name} to timeline`);
          _.timeline.push({
            id: app.name,
            label: app.title,
            theme: app.theme,
            value: duration,
          });
        });
      }

      async deploy() {
        console.debug(`🏗️ Starting Cloud Build deployment`);
        this.isLoading = true;
        this.tooltip.reset();
        _.logHandler.flushLogs();

        // trigger build from backend
        let resp = await _.appService.deployUpdate({
          gradient: this.gradients[this.themeOpt],
          asciiFont: this.asciiFonts[this.themeOpt],
          font: this.fonts[this.themeOpt],
        });
        let data = await resp.json();

        // process response
        if (resp.status == 409) {
          let messages = [
            "Opps, it seems a deployment is already in progress.",
            "Let's take a look...",
          ];
          this.tooltip.queue({ messages, style: "danger" });
        } else if (!resp.ok) {
          this.tooltip.add({ text: data.detail, style: "danger" });
          this.isLoading = false;
          return;
        } else {
          let messages = [
            { text: "Nice one! You just triggered a <strong>Cloud Build</strong> job, it's going to update each service with the theme you selected." },
            {
              text:
                "The stream of text you see below are the logs output by Cloud Build. It's a bit cramped though - you can maximise the frame by clicking on it."
            },
            { text: "The level at which I've over-engineered this demo is ridiculous..." },
          ];
          this.tooltip.queue({ messages });
        }

        this.activeBuild = data;
        this.buildTracker.set(data.id, [...this.apps]);
        this.isLoading = false;
      }

      previousTheme(previewFrame) {
        this.selectTheme(this.themeOpt - 1);
        previewFrame.src = this.previewUrl;
      }

      nextTheme(previewFrame) {
        this.selectTheme(this.themeOpt + 1);
        previewFrame.src = this.previewUrl;
      }

      selectTheme(opt) {
        let themeCount = this.fonts.length - 1;
        if (opt > themeCount) {
          this.themeOpt = 0;
        } else if (opt < 0) {
          this.themeOpt = themeCount;
        } else {
          this.themeOpt = opt;
        }
      }
    }

    function appBuilder() {
      var props = {
        apps: {{ app_service.app_names|tojson }},
        gradients: {{ app_service.gradients|tojson }},
        fonts: {{ app_service.google_fonts|tojson }},
        asciiFonts: {{ app_service.ascii_fonts|tojson }}
      };
      return {
        tooltips: [],
        tooltip: new Tooltip({ collection: this.tooltips }),
        builder: new AppBuilder(props),
        init() {
          this.tooltip._tooltips = this.tooltips;
          this.builder.init({ tooltip: this.tooltip });
        },
      };
    }
  </script>
</html>
{% endwith %}
