<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>7Apps — Google Cloud</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <link href="/static/css/index.css" rel="stylesheet" />
  <link href="/static/css/error.css" rel="stylesheet" />
</head>

<body>
  <section class="container">
    <div class="header">
      <p class="title is-fancy is-3">7-Apps in 7-minutes</p>
      <p class="subtitle is-italic is-6">
        Deploying a Python Flask app to every service on
        <span class="google-logo">{% include "misc/google-cloud-logo.svg" %}</span>
      </p>
      <div id="commentary" class="commentary"></div>
    </div>
    <div class="iframe-container columns is-mobile is-variable is-multiline is-relative">
      <div class="timeline is-overlay">
        <svg id="timeline"></svg>
      </div>
      {% include "content/iframes.html" %} {% include "content/build.html" %}
    </div>
  </section>
  <footer>
    <div class="content has-text-centered has-text-grey">
      <p>
        Source on
        <a href="https://github.com/servian/7apps7minutes" target="_blank">GitHub</a>.
        Licensed
        <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>
      </p>
    </div>
  </footer>
</body>
<script defer src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script>window.props = {{ props | tojson }};</script>
<script type="module" src="/static/js/index.js"></script>

</html>
