<div
  @click="isFullscreen = !isFullscreen"
  class="build-container column is-half is-relative"
  :class="{ 'is-fullscreen': isFullscreen, 'is-active': builder.activeBuild !== null }"
  x-data="{ isFullscreen: false, ...appBuilder() }"
  x-init="init"
>
  <div class="is-hidden-tablet mb-4">
    <p class="title is-4 py-4">Application Deployment</p>
  </div>

  <div class="tooltips">
  <template x-for="tip in tooltips" :key="tip.id">
      <div
        @click.stop="tooltip.close(tip)"
        x-show.transition.200ms="tip.active"
        class="is-tooltip"
        :class="tooltip.getClass(tip)"
        :data-icon="tip.icon"
      >
        <span x-html="tip.text"></span>
      </div>
    </template>
  </div>
  <div class="box is-relative px-0 py-0">
    <div id="logs" x-show.transition.duration.200ms="builder.activeBuild !== null" class="logs has-select-disabled is-overlay"></div>
    <div id="build" x-show.transition.duration.200ms="builder.activeBuild === null" class="build-form">
      <button @click.stop="builder.deploy()" class="deploy button is-light" :class="{ 'is-loading': builder.isLoading }">
        <span class="icon">
          {% include "misc/touch.svg" %}
        </span>
        <span class="has-text-fancy-font">Deploy</span>
      </button>
      <nav class="is-overlay">
        <button @click.stop="selectTheme(themeOpt - 1)" class="button is-light">
          {% include "misc/left.svg" %}
        </button>
        <button @click.stop="selectTheme(themeOpt + 1)" class="button is-light">
          {% include "misc/right.svg" %}
        </button>
      </nav>
      <div class="preview has-select-disabled is-overlay" :style="themeStyle('preview')">
        <div class="title" :style="themeStyle('title')">Title Font</div>
      </div>
    </div>
  </div>
</div>
