<div
  @click="isFullscreen = !isFullscreen"
  class="build-container column is-half is-relative"
  :class="{ 'is-fullscreen': isFullscreen, 'is-active': builder.activeBuild !== null }"
  x-data="{ isFullscreen: false, ...appBuilder() }"
  x-init="init"
>
  <div class="is-hidden-tablet my-4">
    <p class="title is-5">Interactive demo</p>
    <p class="subtitle is-italic is-6">May the demo gods ever be in your favour</p>
  </div>

  <div class="is-relative" style="flex: 1">
    <div class="tooltips">
    <template x-for="tip in tooltips" :key="tip.id">
        <div
          @click.stop="tooltip.close(tip)"
          x-show.transition.200ms="tip.active"
          class="is-tooltip"
          :class="tooltip.getClass(tip)"
          :data-icon="tip.icon"
        >
          <span x-html="tip.text"></span>
        </div>
      </template>
    </div>
    <div class="box is-relative is-unselectable px-0 py-0">
      <div id="logs" class="logs is-overlay" x-show.transition.duration.200ms="builder.activeBuild !== null" ></div>
      <div id="build" class="build-form is-overlay" x-show.transition.duration.200ms="builder.activeBuild === null" >

        <div class="preview-frame is-overlay" :style="themeStyle('preview')">
          <div class="title" :style="themeStyle('title')">Demo</div>
        </div>
        <nav class="is-overlay">
          <button @click.stop="selectTheme(themeOpt - 1)" class="button is-light">
            {% include "misc/left.svg" %}
          </button>
          <button @click.stop="selectTheme(themeOpt + 1)" class="button is-light">
            {% include "misc/right.svg" %}
          </button>
        </nav>
        <button @click.stop="builder.deploy(themeOpt)" class="deploy button is-light" :class="{ 'is-loading': builder.isLoading }">
          <span class="icon">
            {% include "misc/touch.svg" %}
          </span>
          <span class="is-fancy">Start deployment!</span>
        </button>
      </div>
    </div>
  </div>
</div>
