<div
  class="build-container column is-half is-relative"
  :class="{ 'is-fullscreen': isFullscreen }"
  x-data="appBuilder()"
  x-init="init"
>
  <div class="box is-relative px-0 py-0" @click="toggleFullscreen()">
    <div class="is-tooltip" @click.stop="tooltipActive = false" :class="tooltip.styles" x-show.transition.duration.300ms="tooltipActive" x-html="tooltip.text"></div>
    <div id="logs" x-show="isActive" class="logs has-select-disabled is-overlay"></div>
    <div id="build" x-show="!isActive" class="build-form px-4 py-4">
      <nav>
        <button @click.stop="selectTheme(themeOpt-1)" class="button is-dark is-light"
          >{% include "misc/left.svg" %}</button
        >
        <button @click.stop="selectTheme(themeOpt+1)" class="button is-dark is-light"
          >{% include "misc/right.svg" %}</button
        >
      </nav>
      <button
        @click.stop="deploy()"
        class="button is-dark is-light is-fullwidth has-text-shadow"
        :class="{ 'is-loading': isLoading }"
      >
        <span class="icon is-small pr-3">
          {% include "misc/cloud-upload.svg" %}
        </span>
        <span class="has-text-fancy-font">Deploy!</span>
      </button>
      <iframe

        name="preview"
        x-bind:src="previewUrl()"
        width="100%"
        height="100%"
        style="z-index:-1;"
        class="has-select-disabled is-overlay"
        scrolling="no"
      >
      </iframe>
    </div>
  </div>
</div>
<div class="column is-12 is-hidden-tablet">
  <p class="title is-4">Application IFrames</p>
</div>

{% for app in app_service.get_apps() %}

<div
  id="{{ app.name }}"
  class="column is-half is-app"
  data-url="{{ app.url }}"
  data-name="{{ app.name }}"
  data-title="{{ app.title }}"
  data-version="{{ app.version }}123"
>
  <div class="box is-relative is-clipped px-0 py-0">
    <div class="frame-label">
      <a target="_blank" rel="noopener noreferrer" href="{{ app.url }}">{{ app.url }}</a>
    </div>
    <div
      id="{{ app.name }}-overlay"
      class="is-unavailable is-overlay px-6 py-6 is-size-6 has-text-weight-medium has-text-centered is-hidden"
    >
      <p class="heading">🛑 {{ app.title }}</p>
      <p class="title is-size-5 mt-4"></p>
    </div>
    <iframe
      name="{{ app.name }}-{{ unix_timestamp }}"
      src="{{ app.url }}?ts={{ unix_timestamp }}"
      width="100%"
      height="100%"
      importance="high"
      scrolling="no"
      class="has-select-disabled"
    >
    </iframe>
  </div>
</div>

{% endfor %}
