<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>7Apps — Google Cloud</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      html,
      body {
        background: #f5f6fa;
        height: 100vh;
      }

      .container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 100%;
      }

      #stopwatch {
        color: #1d1d1d;
        font-size: 2rem;
        font-weight: 500;
        font-family: "Roboto Mono", "Courier New", Courier, monospace;
      }

      .iframe-container {
        flex: 1;
      }

      .iframe {
        min-height: 230px;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid #e4e4e4;
        background-color: #dddddd;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <section class="level mb-5">
        <div class="level-item has-text-centered is-hidden-mobile">
          <div>
            <p class="heading">Servian</p>
            <p class="title">
              <a class="has-text-grey-darker" href="https://www.servian.com">
                <span class="icon is-large">
                  <i class="mdi mdi-48px mdi-home-city"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered is-hidden-mobile">
          <div>
            <p class="heading">Chris Tippett</p>
            <p class="title">
              <a
                class="has-text-grey-darker"
                href="https://www.christippett.dev"
              >
                <span class="icon is-large">
                  <i class="mdi mdi-48px mdi-face-profile"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p id="stopwatch" class="mb-2">00:00:00</p>
            <p>
              <button id="start" class="button is-dark">
                <span class="icon">
                  <i class="mdi mdi-play"></i>
                </span>
                <span>Start</span>
              </button>
              <button id="stop" class="button is-dark">
                <span class="icon">
                  <i class="mdi mdi-stop"></i>
                </span>
                <span>Stop</span>
              </button>
              <button id="pause" class="button is-dark">
                <span class="icon">
                  <i class="mdi mdi-pause"></i>
                </span>
                <span>Pause</span>
              </button>
              <button id="reset" class="button is-dark">
                <span class="icon">
                  <i class="mdi mdi-refresh"></i>
                </span>
                <span>Reset</span>
              </button>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered is-hidden-mobile">
          <div>
            <p class="heading">GitHub</p>
            <p class="title">
              <a
                class="has-text-grey-darker"
                href="https://github.com/servian/7apps7minutes"
              >
                <span class="icon is-large">
                  <i class="mdi mdi-48px mdi-github"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered is-hidden-mobile">
          <div>
            <p class="heading">Medium</p>
            <p class="title">
              <a
                class="has-text-grey-darker"
                href="https://medium.com/weareservian"
              >
                <span class="icon is-large">
                  <i class="mdi mdi-48px mdi-book-open-page-variant"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </section>
      <section class="iframe-container">
        <div class="columns is-multiline" style="height: 100%;">
          {% for src in iframes %}
          <div class="column is-half">
            <iframe id="{{ loop.index }}" class="iframe card" src="{{ src }}">
            </iframe>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/easytimer.min.js"></script>
  <script>
    var intervalId = 0;
    var timer = new easytimer.Timer();

    function startRefreshInterval() {
      let intervalId = window.setInterval(function () {
        var iframes = document.getElementsByTagName("iframe");

        for (var i = 0, max = iframes.length; i < max; i++) {
          var el = iframes[i];
          el.src = el.src;
        }
      }, 10000);
      return intervalId;
    }

    $("#start").click(function () {
      timer.start();
      intervalId = startRefreshInterval();
    });
    $("#pause").click(function () {
      timer.pause();
    });
    $("#stop").click(function () {
      timer.stop();
      window.clearInterval(intervalId);
    });
    $("#reset").click(function () {
      timer.reset();
      timer.stop();
      window.clearInterval(intervalId);
    });
    timer.addEventListener("secondsUpdated", function (e) {
      $("#stopwatch").html(timer.getTimeValues().toString());
    });
    timer.addEventListener("started", function (e) {
      $("#stopwatch").html(timer.getTimeValues().toString());
    });
    timer.addEventListener("reset", function (e) {
      timer.stop();
      $("#stopwatch").html(timer.getTimeValues().toString());
    });
  </script>
</html>
