apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gke-app
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 100%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gke-app
    spec:
      containers:
        - image: {{env.Getenv "IMAGE" }}
          name: gke-app
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
          imagePullPolicy: Always
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: gke-app-service
  namespace: default
  labels:
    app: gke-app
spec:
  ports:
    - name: gke-app-port
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: gke-app
  type: ClusterIP

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: gke-app-https
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ env.Getenv "DOMAIN" }}`)
      services:
        - name: gke-app-service
          port: 8080
  tls:
    certResolver: le
